:root{
    --border-radius:12px
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@mixin caret-down {
    border-top: $caret-width solid;
    border-right: $caret-width solid transparent;
    border-bottom: 0;
    border-left: $caret-width solid transparent;
  }
  
  @mixin caret-up {
    border-top: 0;
    border-right: $caret-width solid transparent;
    border-bottom: $caret-width solid;
    border-left: $caret-width solid transparent;
  }
  
  @mixin caret-end {
    border-top: $caret-width solid transparent;
    border-right: 0;
    border-bottom: $caret-width solid transparent;
    border-left: $caret-width solid;
  }
  
  @mixin caret-start {
    border-top: $caret-width solid transparent;
    border-right: $caret-width solid;
    border-bottom: $caret-width solid transparent;
  }
  
  @mixin caret($direction: down) {
    @if $enable-caret {
      &::after {
        display: inline-block;
        margin-left: $caret-spacing;
        vertical-align: $caret-vertical-align;
        content: "";
        @if $direction == down {
          @include caret-down();
        } @else if $direction == up {
          @include caret-up();
        } @else if $direction == end {
          @include caret-end();
        }
      }
  
      @if $direction == start {
        &::after {
          display: none;
        }
  
        &::before {
          display: inline-block;
          margin-right: $caret-spacing;
          vertical-align: $caret-vertical-align;
          content: "";
          @include caret-start();
        }
      }
  
      &:empty::after {
        margin-left: 0;
      }
    }
  }
@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

 body{
    display: flex;
    font-family:inter;
    max-width: 100vh;
    background-color: #ffffff;
    transition: background 1s;
 }

 header{
    width: 100%;
    height: 2.8rem;
    background-color: rgba(79, 1, 1, 1) ;
    position: fixed;
    top: 0;
    padding: 7px 0;
 }
 div {
  display: block;
}
ul{
    display: inline-block;
}
.container{
    position: absolute;
    display:flex;
    align-content: flex-start;
    gap:200px;
    width: 100%;
}
nav {
    position: absolute;
    top:10px;
    right: 0;
    padding: 0 34px;
}
li {
    display: inline-block;
    margin: 2px 0 0 15px;    
    text-decoration: none;
}
a{
    color:#ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 0;
}
ul{
    list-style-type: none;
}
 .logo{
    margin: 0px 45px;
    display: flex;
    font-size: 30px; 
    align-items: center;
    font-family: jolly lodger;
    align-content:flex-start;
    height: 30px;
    text-decoration: none;
 }
.logo img{
    padding: 0;
    width: 35px;
    height: 35px;
    filter: invert(100%);
    box-shadow: #ffffff;
 }
 .logo-text{
  display: block;
  text-decoration: none;
  color: #ffffff;
}
.font-header{
    flex-shrink: 0;
    color: #ffffff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    background-color: transparent;
    border: none;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
}
.search{
    margin-top: 2px;
    display: block;
    padding: 11px;
    align-items: center;
    text-align: center;
    width: 15rem;
    height: 1.1rem;
    border-color: #ffffff;
    border-radius: 5rem;
    background: rgba(255, 254, 254, 0.3);
}
.btn-search{
    border: none;
    background-color: transparent;
}

.font-button-mode{
    display: inline-block;
    padding: 0px;
    color: #ffffff;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight:60;
    line-height: normal;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
}

.button{
  display: inline-block;
  padding: 0;
  margin: 3px 0 0px 5px;
  position:fixed;
  width: 45px;
  height: 20px;
  border-radius:25px;
  background-color:#ffffff;
  cursor: pointer;
}
.ball{
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(207, 97, 0) ;
  border-radius: 50px;
  background-color: rgba(79, 1, 1, 1) ;
  transition: left 1s;
  outline:none;
}
.ball-move{
  left: calc(100% - 20px);
}
.dark{
  background-color: #181818;
}
.main-container {
  display: flex;
  justify-content: space-between;
  justify-content: flex-start;
  align-items: center; 
}
.maisVistos, .container-episodios {
  width: 50%; 
}
// seçao ultimos eps
.traco-title-eps{
  width: 15rem;
  padding: 0;
  height: 3px;
  background-color: #000000;
  margin: 0 0 25px 15px;
}
.fonts-title-eps{
  color: #000000;
  font-family: Inter;
  text-transform: uppercase;
  font-size: 14px;  
  font-style: normal;
  margin: 0 15px;
}
.box-title {
  margin: 10px 0 0px;
  font-size: 14px;  
  text-align: center; 
}
.container-box{
  margin: 0 0 0 0px;
  padding: 0;
}

.itens-box2{
  display: block;
  justify-content:space-around;
  margin: 0px 15px;
  width: 150px;
  height: 85px;
  background-color: rgba(217, 217, 217, 1);
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #000000;  
}
.episodios-recentes {
  width: 120%;
  height: 10rem;
  display: flex;
  position:relative;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:flex-start;
  gap: 30px 10px;
}
h4{
  color: #000000; 
  font-family: Arial, Helvetica, sans-serif; 
  font-style: normal;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
.container-episodios {
  width: 100%;
  max-width: 70rem; 
  margin: 75px 45px;
  padding: 0;
  position: relative;
}
// seção ultimos lançamentos
.traco-title-lancaments{
  width: 15rem;
  padding: 0;
  height: 3px;
  background-color: #000000;
  margin: 0px 0 25px 15px;
}
.fonts-title-lancaments{
  color: #000000;
  font-family: Inter;
  text-transform: uppercase;
  display: flex;
  font-size: 14px;  
  font-style: normal;
  margin:0 0 0 15px;
}

.titulo-destaques{
  margin:210px 0 0 45px;
}

.itens-box {
  transition: transform 0.2s;
  display: block;
  margin: 0 12px;
  min-width: 100px;
  min-height: 130px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 5px;
  box-shadow: 1px 1px 3px #000000;  
  justify-content: center;
  flex: 0 0 auto;
}

.highlights{
  cursor: grab;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: auto;
  width: 100%;
  height: 10rem;
  display: flex;
  background-color: rgba(79, 1, 1, 1) ;
  position:absolute;
  justify-content: flex-start;
  align-items: center;
  bottom: 0;
  padding: 7px 0;
}
.highlights.active {
  cursor: grabbing;
}
.highlights::-webkit-scrollbar {
  display: none; 
}
// seção mais vistos
.conteiner-maisVistos{
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content:center ;
  align-items: center;
  top: 5px;
  padding: 7px 0px;
  gap: 35px 10px;
  max-width: 25rem; 
  flex-wrap:wrap;
  flex-direction: row;
  margin-right: auto; 
}
.itens-box3 {  
  display:block;
  position: relative;
  margin: 10px 10px;
  width: 115px;
  height: 145px;
  background-color: rgb(82, 82, 82);
  border-radius: 5px;
  box-shadow: 1px solid #000000;
  justify-content: center;
}
.titulo-maisVistos {
  position: absolute; 
  top: 80px; 
  right: 200px; 
}
.traco-title-maisVistos{
  width: 15rem;
  padding: 0;
  height: 3px;
  background-color: #000000;
  margin: 0px 0 25px 15px;
}
.fonts-title-maisVistos{
  color: #000000;
  font-family: Inter;
  text-transform: uppercase;
  display: flex;
  font-size: 14px;  
  font-style: normal;
  margin:0 0 0 15px;
}

/* Estilos para telas pequenas (mobile) */
@media (max-width: 768px) {
  .header{
    padding: 0;
    margin: 0;
  }
  .container {
    position: absolute;
    display:flex;
    gap: 70px;
    width: 100%;
    padding:0;
    align-content: flex-start;
  }
  .logo-text{
    display: none;
  }
  .logo{
      width: 100%;
      text-align: center;
      margin-left: 20px;
  }
  .a, .li, .ul{
    display: inline-block;
    text-decoration: none;
    color:#ffffff;
    text-decoration: none;
    list-style-type: none;
   
  }

  .button{
    margin-right: 50px;
  }

}

/* Estilos para telas médias (tablets) */
@media (min-width: 769px) and (max-width: 1550px) {
  .itens-box {
    min-width: 86px;
    min-height: 130px;
  }
  .container{
    gap:9rem;
}
.episodios-recentes {
  width: 140%;
}
.titulo-destaques{
  margin:80px 0 0 45px;
}
}
#arrastavel {
  position: absolute;
  cursor: pointer;
}
